@model GroupingSystem.Models.Group

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this group?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Group Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.groupName)
        </dd>

        <dt>
            Group Size
        </dt>

        <dd>
            @Html.DisplayFor(model => model.groupSize)
        </dd>

        <dt>
            Group Owner
        </dt>

        <dd>
            @Html.DisplayFor(model => model.groupOwner)
        </dd>

        <dt>
            Member
        </dt>

        <dd>
            @Html.DisplayFor(model => model.member1)
        </dd>

        <dt>
            Member
        </dt>

        <dd>
            @Html.DisplayFor(model => model.member2)
        </dd>

        <dt>
            Member
        </dt>

        <dd>
            @Html.DisplayFor(model => model.member3)
        </dd>

        <dt>
            Member
        </dt>

        <dd>
            @Html.DisplayFor(model => model.member4)
        </dd>
        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.groupDescription)
        </dd>

        <dt>
            Event
        </dt>

        <dd>
            @Html.DisplayFor(model => model.groupEvent)
        </dd>

    </dl>

    @if (Model.groupOwner == User.Identity.Name)
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-large" }) |
        <input type="submit" value="Delete" class="btn btn-default" />

    </div>
        }
    }
    else {
        <span>This is not your group to delete.</span>
    }

</div>
