@model IEnumerable<GroupingSystem.Models.Group>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

submittedGroups = context.

<li>@Html.ActionLink("Create New Group", "Create", "Groups")</li>
<table class="table">

    <tr>
        <th>
            Group Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.groupDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.groupEvent)
        </th>
        <th>
            Group Size
        </th>
        <th>
            Group Owner
        </th>
        <th>
            Group Members
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.submitted == false)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.groupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.groupDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.groupEvent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.groupSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.groupOwner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.member1)<br />
            @Html.ActionLink("view user", "ViewUser", "Account", new { id = "ca0ea853 - 1619 - 43e1 - 9b99 - 9f4b040d1acc" }, null)<br />
            @Html.DisplayFor(modelItem => item.member2)<br />
            @Html.DisplayFor(modelItem => item.member3)<br />
            @Html.DisplayFor(modelItem => item.member4)
        </td>

        <td>
            @Html.ActionLink("Join", "Join", new { id = item.Id })<br />
            @Html.ActionLink("edit", "edit", new { id = item.Id })<br />
            @if (item.groupOwner == User.Identity.Name)
            {
                @Html.ActionLink("Delete Group", "Delete", new { id = item.Id })<br />
                @Html.ActionLink("Submit Group", "SubmitGroup", new { id = item.Id })
            }
        </td>
    </tr>
            }
        }

</table>
