@model IEnumerable<GroupingSystem.Models.Message>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Messages</h2>
@*Output messages to view*@
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

    </tr>

@foreach (var item in Model.OrderByDescending(item=>item.Id)) {
    <tr>
        <td>
            From: @Html.DisplayFor(modelItem => item.From)<br />
            Subject: @Html.DisplayFor(modelItem => item.Subject)<br />
            Received: @Html.DisplayFor(modelItem=> item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message1)
        </td>

        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
       
    }

</table>
